.tree-view {
  font-family: 'Courier New', Courier, monospace;
  display: grid;
  grid-template-rows: auto auto;
  position: absolute;
  top: 50px;
  left: 50px;
  max-width: 1000px;
  max-height: 1000px;
  border: 1px solid #363636;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #121212;
  color: #f3f3f3;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease !important;
}

.tree-view__node {
  list-style: none;
  position: relative;

  margin-left: 20px;
}

.tree-view__node-children {
  margin-left: 20px;
}

.tree-view__node-label {
  cursor: pointer;
  display: flex;
  -webkit-user-select: none;
  user-select: none;
}

.tree-view__node-icon {

  margin-right: 2rem;
  width: 10px;
  height: 10px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #9286e9;
  transform: rotate(90deg);
}

.triangle[data-expanded="false"] {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #9286e9;
  transform: rotate(90deg);
}

.tree-view__node-children-container {
  /* max-height: 0px; */
  /* height: 0; */
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.8s ease;
  will-change: max-height, opacity;
}

.tree-view__node-children-container.expanded {
  /* opacity: 1; */

}