.tree-view {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 50px;
  max-width: 1000px;
  max-height: 1000px;
  border: 1px solid #363636;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #121212;
  color: #f3f3f3;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease !important;
}

.tree-view__node {
  list-style: none;
  position: relative;

  margin-left: 20px;
}

.tree-view__node-children {

  margin-left: 20px;
}

.tree-view__node-label {
  margin-bottom: 0.5rem;
  /* cursor: pointer; */
  display: flex;
  /* -webkit-user-select: none;
  user-select: none; */
}

.tree-view__node-toggle {
  cursor: pointer;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 2rem;
  width: 1rem;
  height: 1rem;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #9286e9;
  transform: rotate(90deg);
}

.triangle[data-expanded="false"] {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #9286e9;
  transform: rotate(90deg);
}

.tree-view__node-children-container {
  position: relative;
  overflow: hidden;

  &.collapsed {
    display: block;
  }

  &.hidden {
    display: none;
  }

}